html {
  font-family: Lato;
}
.tabel1,
.tabel2 {
  border-collapse: collapse;
  padding: 8px 20px;
  border: 2px solid black;
  width: 85%;
  text-align: center;
  margin: 0 auto;
}
.tabel1 thead tr th {
  font-size: 15px;
}
.tabel1 tbody tr td {
  font-size: 13px;
}
.tabel2 {
  width: 85%;
  margin: 0 auto;
  background-color: #1ef2ff;
}
.tabel2 tr th {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-style: none;
  border: 0;
}
.tabel2 tr td {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
  border-style: none;
  border: 0;
}
.head {
  font-size: 10px;
}
.box {
  width: 7%;
}
th,
td,
tr {
  padding: 8px 20px;
}
th,
td {
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
}
.line-top {
  border-top: 2px solid;
}
.text-left {
  text-align: left;
}
.warna1 {
  background-color: #1e90ff;
  font-size: 20px;
}
footer {
  text-align: center;
  font-size: 12px;
}
p {
  font-size: 15px;
}
h1 {
  text-align: center;
}
.tabel1 tbody tr:nth-child(even) {
  background-color: #1ef2ff;
}
input {
  width: 30px;
}
label, input {
  margin: 5px;
}
.button2 {
  background-color: #1e90ff;
  color: white;
  font-weight: bold;
  margin: 15px;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 35%;
  border: 2px solid #1e90ff;
}
.button2:hover {
  color: #1e90ff;
  background-color: white; 
}
#hideThis {
  display: none;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 23px;
  }
  .tabel1, .tabel2 {
    width: 100%;
  }
  .tabel1,
  th,
  td,
  tr {
    padding: 4px 3px;
  }
  .tabel1 thead tr th {
    font-size: 11px;
  }
  .tabel1 tbody tr td {
    font-size: 11px;
  }
  tr {
    font-size: 10px;
  }
  .warna1 {
    font-size: 7px;
  }
}
