* {
  scroll-behavior: smooth;
}
body {
            background-color: #27005D;
            color: #9400FF;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            font-family: 'Poppins', Sans-Serif;
        }

        header {
            background-color: #9400FF;
            padding: 5px;
            text-align: center;
            color: #E4F1FF;
        }

        nav {
            background-color: #AED2FF;
            text-align: center;
            padding: 10px;
        }

        nav ul {
            list-style: none;
            padding: 0;
        }

        nav li {
            display: inline;
            margin: 0 30px;
        }
        
        a {
          text-decoration: none;
        }

        .container {
            max-width: 960px;
            margin: 20px auto;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .project {
            background-color: #E4F1FF;
            text-align: center;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            flex: 0 1 calc(33.33% - 20px);
        }

        .project-name {
            font-size: 24px;
            margin: 10px;
        }
        
        .project-buttons {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
        
        button a {
          color: #E4F1FF;
        }

        .project-button {
            background-color: #9400FF;
            color: #E4F1FF;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin: 0 auto;
            display: flex;
            align-items: center;
        }

        .project-button i {
            margin-right: 5px;
        }

        .project-image {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        .contact {
            background-color: #AED2FF;
            padding: 20px;
            text-align: center;
        }

        .contact-icons {
            margin-top: 10px;
        }

        .contact-icon {
            font-size: 24px;
            margin: 0 10px;
        }

        footer {
          font-size: 13px;
            background-color: #9400FF;
            padding: 2px;
            text-align: center;
            color: #E4F1FF;
        }

        /* Styles untuk responsif */
        @media (max-width: 768px) {
            nav {
                padding: 5px;
            }

            nav li {
                margin: 0 5px;
            }

            .container {
                padding: 10px;
                flex-direction: column;
            }

            .project {
                flex: 0 1 100%;
            }
        }