/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.project {
    background-color: #fff;
    border: 1px solid #3498db;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

a {
  color: black;
  text-decoration: none;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1rem;
}