* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background: linear-gradient(to bottom, #83A6CE, #8ED5EA);
  display: flex;
  font-family: 'Poppins', Sans-Serif
}

.container {
  color: #f0fcff;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
}

li {
  display: inline-block;
  
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 600;
}

li span {
  display: block;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  
  li {
    font-size: 15px;
  }
  
  li span {
    font-size: 30px;
  }
}