* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background: linear-gradient(to bottom, #83A6CE, #8ED5EA);
  display: flex;
  font-family: 'Poppins', Sans-Serif
}
img {
  width: 80%;
}
.container {
  color: #f0fcff;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 80px;
  font-weight: 700;
}
h5 {
  font-size: 40px;
  font-weight: 300;
}
li {
  display: inline-block;
  font-size: 50px;
  list-style-type: none;
  padding: 1em;
  font-weight: 600;
}

li span {
  font-size: 100px;
  display: block;
}

.emoji {
  display: none;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 20px;
  }
  h5 {
  font-size: 13px;
}
  li {
    font-size: 15px;
  }
  
  li span {
    font-size: 30px;
  }
}